{{set . "title" "User Page"}} {{template "header.html" .}}

<div>
    {{with .users}}
    <form action="{{url "App.Update"}}" method="POST">
        <input type="hidden" value="{{.ID}}" name="id">
        <label>Username</label>
        <input type="text" name="username" value="{{.Username}}"><br>
        <label>Email</label>
        <input type="text" name="email" value="{{.Email}}"><br>
        <input type="submit" value="Submit">
    </form>
    {{end}}
</div>

{{template "footer.html" .}}
