{{set . "title" "Home"}} {{template "header.html" .}}
<div>
    <a href="{{url "App.New"}}">Create</a>
</div></br>

<div>
    {{range $b := .users}}
        <p>Id: {{$b.ID}}</p>
        <p>Username: {{$b.Username}}</p>
        <p>Email: {{$b.Email}}</p>
        <a href="{{url "App.Show" $b.ID}}">detail</a></br>
        <a href="{{url "App.Edit" $b.ID}}">edit</a></br>
        <a href="{{url "App.Delete" $b.ID}}">delete</a>
        <p>------------------------</p>
    {{end}}
</div>

{{template "footer.html" .}}
