{{set . "title" "User Page"}} {{template "header.html" .}}

<div>
    <form action="{{url "App.Create"}}" method="POST">
        <label>Username</label>
        <input type="text" name="username"><br>
        <label>Email</label>
        <input type="text" name="email"><br>
        <input type="submit" value="Create">
    </form>
</div>

{{template "footer.html" .}}
