{{set . "title" "User Page"}} {{template "header.html" .}}

<div>
    {{with .users}}
    <p>Id : {{.ID}}</p>
    <p>Username : {{.Username}}</p>
    <p>Email : {{.Email}}</p>
    {{end}}
</div>
<br>
<br>
<div>
    <a href="{{url "App.Index"}}">Back</a> {{template "footer.html" .}}
</div>
